
.head{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

header{
    overflow: hidden;
    position: sticky;
    top: 0;
}

footer{
    width: 100%;
    overflow: hidden;
    position: fixed;
    bottom: 0;
}

.title{
    width: 80%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.logo{
    background-color: yellow;
    border-radius: 15%;
    font-family: 'Anton', sans-serif;
}

.navbar{
    background-color: lightgray;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    list-style: none;
}

.footNote{
    background-color: lightgray;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.social{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    list-style: none;
}

.content{
    background-color: coral;
    overflow: auto;
    position: absolute;
    top: 120px;
    bottom: 50px;
    left: 0;
    right: 0;
}

.card{
    width: 400px;
    height: 400px;
    margin: 20px;
    padding: 20px;
    background-color: lightgray;
}

.moviePoster{
    height: 200px;
    width: 200px;
}

.movieTitle{
    font-family: 'Noto Sans HK', sans-serif;
    color: indigo;
}

.logoDesc{
    font-family: 'Ubuntu', sans-serif;
}